.Title {

    /* Rectangle 2 */

    position: absolute;
    width: 100vw; /*original 1440px*/
    height: 52px;
    left: 0px;
    top: 0px;

    /* Ravn Black */

    background: #121212;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

}

.TitleLable {

    /* Ravn Star Wars Registry */


    position: absolute;
    width: 191px;
    height: 20px;
    left: 33px;
    top: 3px; /* original 16px*/

    /* Header */

    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.0125em;

    /* Gray 6 */

    color: #F2F2F2;
}