.ListView {

    /* Rectangle 1 */


    position: absolute;
    width: 350px;
    height: 100vw;
    left: 0px;
    top: 52px;

    background: #FFFFFF;
    box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.15);

    /*border-style: solid;*/

}
.Loading {
    /* Loading */


    position: relative;
    left: 30%;
    right: 1.54%;
    top: 0%;
    bottom: 0%;

    /* Header */

    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.0125em;

    /* Text/Light */

    color: #828282;
}

.ErrorData {
    /* Failed to Load Data */


    position: relative;
    left: 25%;
    align-items: center;
    right: 0.52%;
    top: 0%;
    bottom: 0%;

    /* Header */

    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.0125em;

    /* Text/Emphasis */

    color: #EC5757;
}

.card {
    /*border: none;*/
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FFFFFF;
    border-bottom:solid black 1px;
}

.container {
    padding: 2px 16px;
}

.PersonList {
    /* Rectangle 3 */


    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #FFFFFF;

}

.TitleLabel {
    /*position: absolute;*/
    left: 0%;
    right: 45.99%;
    top: 0%;
    bottom: 0%;

    /* Header */

    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.0125em;

    /* Text/Dark */

    color: #333333;
}

.DescriptionLabel {
    /*position: absolute;*/
    left: 0%;
    right: 43.82%;
    top: 0%;
    bottom: 0%;

    /* Paragraph */

    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.0125em;

    /* Text/Light */

    color: #828282;
}